<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Todolist</title>
    <script src="../js/vue.js" charset="utf-8"></script>
</head>
<body>
    <div id="app">
        <input type="text" v-model="inputValue">
        <button v-on:click='handleBtnClick'>提交</button>
        <ul>
            <li v-for="item in list">{{item}}</li>
        </ul>
    </div>
    <script>
        // MVVM
        // M层如下
        // V层如上
        //VM层vue
        var app =new Vue({
            el:'#app',
            data: {
                list:[],
                inputValue:''
            },
            methods:{
                handleBtnClick:function(){
                this.list.push(this.inputValue)
                this.inputValue=''//提交后清空（双向绑定）
                }
            }
        })
    </script>
</body>
</html>
